[
    {kernel, [
        {logger_level, debug},
        {logger, [{handler, default, logger_std_h, #{ formatter => {logger_formatter, #{ }}}}]},
        {start_pg, true}
    ]},
    {matrix, [
        {port, 27015},
        {acceptors, 3},
        {workers, 50},
        {min_split_size, 150},
        {chunk, 10000}
    ]}
].